<nav id="Nav">
<p style="text-align: centre; centre: #ffffff; font-size: 25px">
  |  <a href="{{site.baseurl}}/">About</a> |
  <a href="{{site.baseurl}}/CV">Curriculum Vitae</a> | 
  <a href="{{site.baseurl}}/Publications">Publications</a> | 
  <a href="{{site.baseurl}}/doc">Docs</a> |
  <a href="{{site.baseurl}}/Travels">Travels</a> | 
  <a href="{{site.baseurl}}/Plants">Plants</a> |
  <a href="{{site.baseurl}}/Otomad&Visual">Otomad&Visual</a> |
  <a href="{{site.baseurl}}/Links">Links</a> |
</p>
</nav>
